.login {
  align-items: center;
  display: flex;
  height: 800px;
  justify-content: center;
}

.loading {
  margin: auto;
}

.color-change {
  color: green;
}

.login-btn {
  margin-top: 20px;
}

.container {
  border: 3px solid green;
  border-radius: 30px;
  box-shadow: 5px 5px;
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.form {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: darkgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.user-logo {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 30px;
}

.user {
  display: flex;
  margin-right: 30px;
}

.user img {
  align-self: center;
  height: 60px;
  width: 60px;
}

.header h1 {
  background-color: white;
  border-radius: 10px;
  font-size: 30px;
  padding: 10px;
  width: fit-content;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav a {
  background-color: white;
  border: 2px solid gray;
  color: green;
  font-size: 30px;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.albums {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

.album {
  align-items: center;
  border: 2px solid gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 420px;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 20px;
  width: 350px;
}

.album img {
  margin-top: 10px;
  width: 55%;
}

.album a {
  background-color: green;
  border-radius: 10px;
  color: white;
  justify-self: end;
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
}

.album p {
  font-weight: 500;
}

.music-card {
  border-radius: 10%;
  margin-bottom: 10px;
  padding: 3px 10px;
  width: 100%;
}

.audio {
  width: 400px;
}

.profile-edit {
  display: flex;
  flex-direction: column;
}

.albums-container {
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
}

.search input {
  border-radius: 10px;
  font-size: 20px;
  height: 30px;
  margin-right: 15px;
  width: 400px;
}

.search button {
  background-color: blue;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.checkbox {
  display: none;
}

.heart-icon {
  margin-bottom: 15px;
  margin-left: 10px;
}

input[ type = 'checkbox' ]:checked ~ .heart-icon {
  color: red;
}

.musics {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.album-info {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  width: 30%;
}

.album-info img {
  width: 200px;
}

.favorite-songs {
  align-items: center;
  display: flex;
}

.favorite-songs img {
  height: 100px;
  width: 100px;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.profile-info {
  background-color: lightgray;
  border-radius: 20%;
  height: fit-content;
  padding: 30px;
}

.profile-info a {
  background-color: green;
  border-radius: 10px;
  color: white;
  height: fit-content;
  justify-self: end;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
  text-decoration: none;
}

.nav a:hover {
  background-color: green;
  color: white;
}

.profile-image-btn {
  align-items: center ;
  display: flex;
}

.profile-image-btn img {
  width: 100px;
}

.edit-profile {
  align-items: center;
  background-color: lightgray;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.edit-profile img {
  width: 50%;
}

.edit-profile textarea {
  resize: none;
}

.edit-profile button {
  background-color: green;
  border-radius: 10px;
  color: white;
  height: fit-content;
  justify-self: end;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
}
